@require "~normalize.css"
@require "../materialize"
@require "~ceri-materialize/3_utils"
@require "~ceri-materialize/3_typography"
@require "~ceri-materialize/6_buttons"

body {
  margin: 0;
}
ceri-side-nav:not(.materialize) {
  border:1px solid black;
  background-color: white;
  width:200px;
  padding: 20px;
}
.container {
  width: 100% !important
}